nav.menu.content.content__left.js-menu.is-hide
    span.menu__close
        <?xml version="1.0" encoding="utf-8"?><svg width="29" height="29" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29 29"><path d="M26.87 0l1.414 1.414-12.728 12.728L28.284 26.87l-1.414 1.414-12.728-12.728L1.414 28.284 0 26.87l12.728-12.728L0 1.414 1.414 0l12.728 12.728L26.87 0z" fill="#fff"/></svg>
    ul.menu__list
        li.menu__item
            a.menu__link.js-scroll-link(href='#main')
                | Главная
        li.menu__item
            a.menu__link.js-scroll-link(href='#prizes')
                | Призы
        li.menu__item
            a.menu__link.js-scroll-link(href='#about')
                | О конкурсе
        li.menu__item
            a.menu__link.js-scroll-link(href='#register')
                | Форма регистрации
        li.menu__item
            a.menu__link.js-scroll-link(href='#conditions')
                | Полные условия
        li.menu__item
            a.menu__link.js-scroll-link(href='#winners')
                | Победители
.menu-panel.js-menu-panel
    .menu-panel__icon
        <?xml version="1.0" encoding="utf-8"?><svg width="40" height="26" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 26"><path d="M0 0h40v2H0V0zM0 12h30v2H0v-2zM0 24h20v2H0v-2z" fill="#fff"/></svg>
