section#quest.page.page-3.js-page
    .container.container_page-3.page__right
        .bg-container
        section.participation
            .participation__inner
                section.info
                    .info__inner
                        h3.title.info__title
                            |Участвуй в квесте: Охота за заботой!
                        .info__description 
                            |Найди 1 из 29 заботливых кладов от Новэкс
                    .stages-info
                        .stages-info__inner
                            .stages-info__text
                                |Правила простые
                            ol.stages-info__list
                                li.stages-info__item С 23 по 29 сентября в разных магазинах
                                    |сети НОВЭКС (в городах: Красноярск, Томск,
                                    |Новокузнецк, Новосибирск, Кемерово, Барнаул, Бийск, Рубцовск)
                                    |будет спрятан зашифрованный
                                    |предмет
                                li.stages-info__item
                                    |Ищи подсказки, которые приведут тебя к зашифрованному
                                    |предмету раньше других! В нужные
                                    |даты они будут появляться на
                                    |
                                    a(href="") карте квеста
                                    |
                                    |в наших социальных сетях:
                                    .social
                                        .social__list
                                            a(href="#").social__item
                                                img(src='img/page3/insta.svg', alt='')
                                                .social__text novextrade
                                            a(href="#").social__item
                                                img(src='img/page3/fb.svg', alt='')
                                                .social__text novextrade.shop
                                            a(href="#").social__item
                                                img(src='img/page3/vk.svg', alt='')
                                                .social__text novex_trade
                                            a(href="#").social__item
                                                img(src='img/page3/ok.svg', alt='')
                                                .social__text novextrade
                                li.stages-info__item
                                    |Ты получишь подсказку на email раньше остальных, если
                                    |
                                    a(href="") зарегистрируешь уникальный код на
                                    |
                                    |на чеке за покупки от 500 ₽ в любом магазине Новэкс.
                                li.stages-info__item
                                    |Найди зашифрованный предмет первым, следуя подсказкам, и
                                    |предъяви его на кассе.
                                    |Одновременно поиски начинаются сразу в нескольких филиалах сети
                                    |магазинов НОВЭКС.
                                li.stages-info__item
                                    |В подарок за находку ты получишь
                                    |«заботливую корзину» - большой набор средств для ухода за
                                    |собой, семьей и домом.
                            .regulations-info
                                .regulations-info__title
                                    |Полные правила квеста
                                    |
                                    | (
                                    a(href="") скачать
                                    | )
                                .regulations-info__description
                                    |Настоящие правила регламентируют порядок организации и проведения рекламной акции (далее Акция) на территории всех магазинов «НОВЭКС». Информация об Организаторе Акции, о правилах её проведения, количестве призов, сроках, месте и порядке их получения размещается на сайте novex.ru. (далее – Сайт акции) или сообщается по телефону горячей линии 8 (800) 200-45-50
        .card__info
