.page-0 {

  & .center {
    position: absolute;
    max-width: 770px;
    top: 7.11vh  /* 70/9.85 */;
    bottom: auto;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    z-index: 1;
    box-sizing: border-box;
    padding: 0 16px;
    & img {
      width: 100%;
    }

    @include lg-block {
      max-width: 500px;
      top: 150px;
      z-index: 5;
    }

    @include sm-block {
      top: 130px;
    }
  }

  & .container {
    display: flex;
    @include lg-block {
      flex-direction: column;
    }
  }

  & .bg-container {
    @include lg-block {
      position: absolute;
      height: 500px;
      width: 100%;
      z-index: 0;
    }
  }

  & .bliss {
    width: 100%;
    height: 100%;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      width: 100%;
      height: 100%;
      background: url('../img/page0/bliss.png') no-repeat center;
      background-size: cover;
      opacity: 0.8;
      z-index: 1;

      @include lg-block {
        top: auto;
        left: 0;
        bottom: 0;
        right: 0;
        background-position: center bottom;
        background-size: contain;
      }
    }
  }

  .balloon-29-year {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 1009px;
    height: 752px;
    background: url('../img/page0/2019_bg.png') no-repeat center;
    z-index: 2;

    @include lg-block() {
      max-height: 300px;
      top: auto;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      background-size: contain;
      background-position: center bottom;
    }
  }

  & .balloons {
    &:before {
      top: 0;
      left: 0;
      bottom: auto;
      right: 0;
      margin: auto;
      content: '';
      position: absolute;
      width: 1841px;
      height: 586px;
      background: url('../img/page0/balloons.png') no-repeat top center;
      z-index: 2;

      @include lg-block() {
        top: auto;
        left: 0;
        bottom: 0;
        right: 0;
        background-size: cover;
        background-position: center bottom;
      }
    }
  }

  & .girl {
    &:before {
      top: auto;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      content: '';
      position: absolute;
      width: 66.354vw  /* 1274/19.2 */;
      height: 84.16vh  /* 829/9.85 */;
      background: url('../img/page0/girl.png') no-repeat center;
      z-index: 3;

      @include lg-block() {
        max-height: 300px;
        width: 100%;
        height: 500px;
        background-size: contain;
        background-position: center bottom;
      }
    }
  }

  & .content__left,
  & .content__right {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    @include lg-block {
      height: 100vh;
      width: 100%;
      box-sizing: border-box;
    }
  }

  & .content__left {
    background: linear-gradient(0deg, #007FC6 0%, #00A4E8 100%);
    @include lg-block {
      height: 500px;
    }

  }

  & .content__right {
    background: #FFB4CF;
    padding-left: 21.51vw  /* 413/19.2 */;
    @include lg-block {
      padding: 20px 15px;
      height: 86vh;
    }
  }

  &__text {
    margin-top: 38.38vh  /* 378/9.85 */;
    max-width: 493px;
    z-index: 10;
  }

  .content__left &__text {

    @include lg-block {
      position: absolute;
      top: 520px;
      margin-top: 0;
    }
  }

  .content__right &__text {
    @include lg-block {
      margin-top: 45vh;
    }
  }

  &__date {
    font-size: 2.44vh  /* 24/9.85 */;
    line-height: 3.25vh  /* 32/9.85 */;
    color: #fff;
    margin-bottom: 1.62vh  /* 16/9.85 */;
  }

  & .title {
    color: #fff;
    margin-bottom: 1.62vh  /* 16/9.85 */;
  }

  &__desc {
    font-size: 2.44vh  /* 24/9.85 */;
    line-height: 3.25vh  /* 32/9.85 */;
    color: #fff;
    margin-bottom: 3.25vh  /* 32/9.85 */;
  }
}

.mouse {
  position: absolute;
  top: 90.3vh;
  left: 8.4375vw;
  width: 25px;
  height: 36px;
  border-radius: 30px;
  -moz-transform: none; /* Для Firefox */
  -ms-transform: none; /* Для IE */
  -webkit-transform: none; /* Для Safari, Chrome, iOS */
  -o-transform: none; /* Для Opera */
  transform: none;
  border: 2px solid white;
  z-index: 1;
  box-sizing: border-box;
  flex: 0 1 auto;

  @include lg-block {
    position: relative;
    top: auto;
    left: auto;
    margin-top: 50px;
  }

  &:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 6.29vh  /* 62/9.85 */;
    top: -9.14vh  /* -90/9.85 */;
    left: 0;
    right: 0;
    bottom: auto;
    margin: auto;
    background-color: #fff;

    @include lg-block {
      content: none;
    }
  }

  &__roller {
    display: block;
    margin: 8px auto;
    background: #fff;
    position: relative;
    border-radius: 2px;
    width: 2px;
    height: 6px;
    animation: move 1s infinite;
  }
}

@keyframes move {
  from {
    top: 0;
    opacity: .8;
  }
  to {
    top: 5px;
    opacity: .2;
  }
}

@keyframes left-move {
  from {
    margin-left: -50px;
  }
  to {
    margin-left: 0;
  }
}
