section#main.page.page-0.js-page.is-show
    .container.container_page-0.js-parallax-page-0
        .center
            img(src='img/page0/main-logo.png')
        .bg-container
            .balloons.js-parallax-balloons
            .bliss
            .balloon-29-year.js-parallax-balloon-29-year
            .girl


        .content.content__left
            a.logo(href="https://novex.ru" target="_blank") Novex

            .page-0__text
                .page-0__date с 1 по 30 сентября
                h3.title Участвуй в
                    br
                    |розыгрыше призов!
                .page-0__desc Выиграй технику для дома
                    br
                    |или корзины подарков.
                a(href='#register').button.button-red.js-scroll-link Зарегистрировать код с чека
            .mouse
                .mouse__roller

        .content.content__right
            .page-0__text
                .page-0__date с 23 по 29 сентября
                h3.title Квест: Охота
                    br
                    |за заботой!
                .page-0__desc Найди 1 из 29 заботливых кладов от Новэкс.
                a(href='#quest').button.button-red.js-scroll-link Узнать условия и участвовать