extends layouts/default
block variables
	- var title = "НОВЭКС 29 лет"


block content
	main.pages
		include ../blocks/components/page0/page0
		include ../blocks/components/page1/page1
		include ../blocks/components/page2/page2
		include ../blocks/components/page3/page3
		include ../blocks/components/page4/page4
		include ../blocks/components/page5/page5
		include ../blocks/components/page6/page6