script.
    window.mapData = {
        center: [53.98620678930011,87.15843014691794],
        zoom: 7,
        cities: [
            {
                title: 'Красноярск',
                date: '23 сентября',
                coordinates: [56.022798299805636, 92.89742899999986],
                balloonContent: '<div class="panel-content"><div class="panel__item"><h4>Подсказка №1</h4><p></p><div class="panel__pics"><a href="https://29let.novex.ru/upload/iblock/2d9/2d9c29c4cfc7ca4a6db261ba8d547fe0.jpg" style="background-image: url(https://29let.novex.ru/upload/resize_cache/iblock/2d9/250_250_1/2d9c29c4cfc7ca4a6db261ba8d547fe0.jpg)"></a></div></div><div class="panel__item"><h4>Подсказка №2</h4><p></p><div class="panel__pics"><a href="https://29let.novex.ru/upload/iblock/02e/02ef2ec8143341f1cedaa38b23dfd992.jpg" style="background-image: url(https://29let.novex.ru/upload/resize_cache/iblock/02e/250_250_1/02ef2ec8143341f1cedaa38b23dfd992.jpg)"></a></div></div><div class="panel__item"><h4>Подсказка №3</h4><p></p><div class="panel__pics"><a href="https://29let.novex.ru/upload/iblock/57c/57cf2edd50cc0aae319d97d7a4b00331.jpg" style="background-image: url(https://29let.novex.ru/upload/resize_cache/iblock/57c/250_250_1/57cf2edd50cc0aae319d97d7a4b00331.jpg)"></a></div></div><div class="panel__item"><h4>Подсказка №4</h4><p></p><div class="panel__pics"><a href="https://29let.novex.ru/upload/iblock/3bd/3bd6a7ad9b3288cb72acf961389ceb0a.jpg" style="background-image: url(https://29let.novex.ru/upload/resize_cache/iblock/3bd/250_250_1/3bd6a7ad9b3288cb72acf961389ceb0a.jpg)"></a></div></div></div>'
            },
            {
                title: 'Томск',
                date: '24 сентября',
                coordinates: [56.50680397565667, 84.98171299999989],
                balloonContent: 'test'
            },
            {
                title: 'Кемерово',
                date: '25 сентября',
                coordinates: [55.39662409247808, 86.08608849999993]
            },
            {
                title: 'Новокузнецк',
                date: '25 сентября',
                coordinates: [53.794618799055314, 87.15498449999993]
            },
            {
                title: 'Новосибирск',
                date: '26 сентября',
                coordinates: [55.000665013597725, 82.95603900000002]
            },
            {
                title: 'Бийск',
                date: '27 сентября',
                coordinates: [52.51098161490855, 85.11715199999999]
            },
            {
                title: 'Рубцовск',
                date: '27 сентября',
                coordinates: [51.52083401202869, 81.22373649999994]
            },
            {
                title: 'Барнаул',
                date: '28, 29 сентября',
                coordinates: [53.33466407865994, 83.7203209999999],
                balloonContent: '<div class="panel__item"><h4>Подсказка 1</h4><div class="address">г. Барнаул, пр. Социалистический, 102</div><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vulputate id pellentesque proin erat ut aliquam</p><div class="panel__pics"><a href="img/page4/panel-pic-1.jpg" style="background-image: url(img/page4/panel-pic-1.jpg)"></a><a href="img/page4/panel-pic-2.jpg" style="background-image: url(img/page4/panel-pic-2.jpg)"></a><a href="img/page4/panel-pic-3.jpg" style="background-image: url(img/page4/panel-pic-3.jpg)"></a></div></div><div class="panel__item"><h4>Подсказка 2</h4><div class="address">г. Барнаул, ул. Г. Титова, 10 </div><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vulputate id pellentesque proin erat ut aliquam</p><div class="panel__pics"><a href="img/page4/panel-pic-1.jpg" style="background-image: url(img/page4/panel-pic-1.jpg)"></a><a href="img/page4/panel-pic-2.jpg" style="background-image: url(img/page4/panel-pic-2.jpg)"></a><a href="img/page4/panel-pic-3.jpg" style="background-image: url(img/page4/panel-pic-3.jpg)"></a></div></div>'
            },
        ]
    };