section#quest-map.page.page-4.js-page
    .container.container_page-4.page__right
        .quest-map
            .quest-map__inner
                h3.title.quest-map__title Карта квеста
                .quest-map__desc Следи за подсказками, чтобы найти зашифрованный предмет и забрать свой заботливый клад!
                .quest-map__info
                    p Хочешь получать подсказки на email раньше других?
                    p Участвуй в розыгрыше и зарегистрируйте чек из Новэкс на сумму от 500 ₽.
                a(href='#register').button.button-red.js-scroll-link Зарегистрировать код с чека
        include map-data
        .map#map

