.page-1 {
  &__text {
    text-align: center;
  }

  & .title {
    color: #CA4D6C;
  }

  &__desc {
    font-size: 2.44vh  /* 24/9.85 */;
    line-height: 3.25vh  /* 32/9.85 */;
    color: #505050;
    font-weight: normal;
  }

  & .container {
    width: 100%;
  }

  & .content {
    z-index: 1;
    &__center {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      width: 100%;
      box-sizing: border-box;
      margin: auto;
      padding-bottom: 19.29vh  /* 190/9.85 */;

      @include lg-block {
        min-height: 100vh;
        padding-bottom: 20px
      }
    }
  }

  & .bg-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }

  & .presents {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.3) 100%), url('../img/page1/presents.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.prizes  {
  margin-top: 7.41vh  /* 73/9.85 */;
  &__list {
    display: flex;
    justify-content: space-between;
    @include lg-block {
      flex-direction: column;
      align-items: center;
    }
  }

  &__item {
    position: relative;
    width: 20.104vw  /* 386/19.2 */;
    height: 39.19vh  /* 386/9.85 */;
    padding: 2.03vh  1.042vw;
    margin-right: 1.667vw  /* 32/19.2 */;
    background: #fff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @include lg-block {
      max-width: 386px;
      width: 100%;
      min-height: 386px;
      height: inherit;
      margin-right: 0;
      margin-bottom: 16px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__pic {
    position: absolute;
    left: 0;
    right: 0;
    bottom: auto;
    top: -2.03vh  /* -20/9.85 */;
    margin: auto;
    max-width: 18.229vw  /* 350/19.2 */;
    height: 30.19vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    box-sizing: border-box;

    @include lg-block {
      position: relative;
      top: 0;
      height: inherit;
    }


    & img {
      height: 100%;
      width: auto;
    }
  }

  &__text {
    margin-top: 2.54vh  /* 25/9.85 */;
    font-size: 2.03vh  /* 20/9.85 */;
    line-height: 2.74vh  /* 27/9.85 */;
    color: #007FC6;
    font-weight: 500;
    min-height: 8.12vh  /* 80/9.85 */;
    display: flex;
    align-items: center;
    justify-content: center;

    @include lg-block {
      font-size: 16px;
      line-height: 20px;
    }
  }

}