section#prizes.page.page-1.js-page
    .container.container_page-1.page__right

        .bg-container
            .presents

        .content.content__center
            .page-1__text
                h3.title День рождения у нас, а подарки - вам!
                .page-1__desc Выиграй крутую технику для
                    br
                    | дома и корзины подарков от Новэкс.
                    .prizes 
                        .prizes__list
                            .prizes__item
                                .prizes__pic
                                    img(src='img/page1/icon_1.png', alt='')
                                .prizes__text Телевизор LG 
                            .prizes__item
                                .prizes__pic
                                    img(src='img/page1/icon_2.png', alt='')
                                .prizes__text Музыкальный центр Panasonic  
                            .prizes__item
                                .prizes__pic
                                    img(src='img/page1/icon_3.png', alt='')
                                .prizes__text Посудомоечная машина Indesit 
                            .prizes__item
                                .prizes__pic
                                    img(src='img/page1/icon_4.png', alt='')
                                .prizes__text 
                                    |Большая корзина с товарами для 
                                    |дома, средствами гигиены и косметики 
         
      



            a(href='#register').button.button-red.js-scroll-link Зарегистрировать код с чека