section#prizes.page.page-1.js-page
    .container.container_page-1.page__right

        .bg-container
            .presents

        .content.content__center
            .page-1__text
                h3.title День рождения у нас, а подарки - вам!
                .page-1__desc Выиграй крутую технику для
                    br
                    | дома и корзины подарков от Новэкс.

            a(href='#register').button.button-red.js-scroll-link Зарегистрировать код с чека