.h1 {
    color: #007FC6;
    font-size: 48px;
    font-weight: 500;
    font-style: normal;
}

.rules{
    background: #E1F7FF;
  &__inner {
      padding: 70px;
  }  
}

.stages {
    margin-top: 27px;
    background: #FFFFFF;
    border-radius: 40px 0px;
    width: 718px;
    height: 100%;
    padding: 45px;

    &__list {

    }

    &__row {
        margin-bottom: 35px;
    }

    &__number {
        font-size: 48px;
        color: #CA4D6C;
        font-weight: normal;
        font-style: normal;
    }

    &__description {
        font-size: 20px;
        color: #007FC6;
        font-weight: 500;
    }

    &__text {
        margin-top: 30px;
        font-size: 24px;
        color: #007FC6;
        font-weight: 500;
    }

    &__results {
        padding: 27px;
        width: 224px;
        height: 100%;
        background: linear-gradient(271.36deg, #FFC0D7 -0.46%, #FFE3ED 98.93%);
        border-radius: 22px 0px;
        transform: rotate(4.14deg);

        &-text {
            font-size: 16px;
            color: #333333;
            transform: rotate(4.14deg);
        }

    }
}

.button {
    display: inline-block;
    padding: 18px 33px;
    border: none;
    box-sizing: border-box;
    color: #fff;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    text-decoration: none;
    background: #FF4F73;
}

.partners {
    padding: 70px;

    &__title {
        
        color: #333333;
        font-size: 16px;
        font-weight: normal;

    }

    &__list {
        display: flex
         
    }

    &__item {
        text-decoration: none;
        display: inline-block;
        margin-right: 30px;

        &:last-child {
            margin-right: 0;
        }

    }
}

.regulations {

    & a {
        font-size: 16px;
        color: #007FC6;
        font-weight: 500;

    }
    &__title {
        font-size: 16px;
        color: #007FC6;
        font-weight: 500;

    }

    &__description {
        font-size: 16px;
        color: #007FC6;
        font-weight: normal;
    }

}