.page-2 {
  & .container {
    width: 100%;
    display: flex;
    @include lg-block {
      flex-direction: column;
    }
  }

  & .card {
    width: 33.333vw;
    height: 100%;
    background: url("../img/page2/bg-card.jpg") no-repeat center;
    background-size: cover;
    @include lg-block {
      background-position: center 40%;
      width: 100%;
      height: 200px;
    }
  }

  & .bg-container {
    position: absolute;
    width: 100%;
    height: 100%;

    & .balloons {
      position: relative;
      width: 100%;
      height: 100%;

      &:before {
        content: '';
        position: absolute;
        right: -20px;
        top: 0;
        bottom: 0;
        left: auto;
        margin: auto;
        background: url("../img/page2/page2_balloons.png") no-repeat center;
        background-size: contain;
        width: 395px;
        height: 784px;
      }
    }
  }
}

.rules{
  background: #E1F7FF;
  width: #{calc(100% - 33.333vw)} /* 640/19.2 */;

  @include lg-block {
    width: 100%;
  }

  &__inner {
    padding: 7.11vh 7.292vw;
    position: relative;
  }

}

.stages {
  position: relative;
  margin-top: 27px;
  border-radius: 40px 0;
  max-width: 718px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin-bottom: 2.84vh  /* 28/9.85 */;
  z-index: 0;

  @include to(1400px) {
    max-width: 650px;
  }

  @include lg-block {
    margin-bottom: 120px;
  }

  &:before {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    background: #CA4D6C;
    transform: matrix(1, 0.03, -0.09, 1, 0, 0);
    border-radius: 40px 0;
    width: 95%;
    height: 100%;
    z-index: -1;
  }

  &__inner {
    border-radius: 40px 0;
    background: #fff;
    padding: 4.57vh  /* 45/9.85 */ 4.167vw  /* 80/19.2 */;
    box-sizing: border-box;
    z-index: 1;
  }


  &__list {
    list-style-type: none; /* Убираем исходные маркеры */
    counter-reset: num; /* Задаём имя счетчика */
    padding-left: 0;
    margin: 0;
  }

  &__item {
    position: relative;
    margin-bottom: 2.44vh  /* 24/9.85 */;
    font-size: 2.03vh  /* 20/9.85 */;
    line-height: 2.74vh  /* 27/9.85 */;
    color: #007FC6;
    font-weight: 500;
    padding-left: 3.125vw  /* 60/19.2 */;
    min-height: 5.58vh  /* 55/9.85 */;

    @include lg-block {
      padding-left: 35px;
      font-size: 14px;
      line-height: 20px;
    }

    &::before {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: auto;
      margin: auto;
      content: counter(num) '. '; /* Выводим число */
      counter-increment: num; /* Увеличиваем значение счётчика */
      font-size: 4.87vh  /* 48/9.85 */;
      line-height: 4.87vh;
      color: #CA4D6C;
      font-weight: normal;
      font-style: normal;
    }
  }

  &__text {
    margin-top: 3.05vh  /* 30/9.85 */;
    font-size: 2.44vh  /* 24/9.85 */;
    color: #007FC6;
    font-weight: 500;
    @include lg-block {
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__results {
    position: absolute;
    right: -25%;
    bottom: -10%;
    padding: 27px;
    width: 265px;
    height: 102px;
    box-sizing: border-box;
    background: linear-gradient(271.36deg, #FFC0D7 -0.46%, #FFE3ED 98.93%);
    border-radius: 22px 0;
    transform: rotate(4.14deg);
    font-size: 1.62vh  /* 16/9.85 */;
    line-height: 2.44vh  /* 24/9.85 */;
    color: #333333;

    @include to(1400px) {
      right: -20%;
      bottom: -10%;
      width: 220px;
      height: 80px;
      padding: 18px;
    }

    @include lg-block {
      position: absolute;
      right: auto;
      bottom: auto;
      font-size: 14px;
      line-height: 20px;
    }
  }
}

.button {
  display: inline-block;
  padding: 18px 33px;
  border: none;
  box-sizing: border-box;
  color: #fff;
  font-size: 2.13vh  /* 21/9.85 */;
  line-height: 2.64vh  /* 26/9.85 */;
  text-align: center;
  text-decoration: none;
  background: #FF4F73;
  cursor: pointer;

  @include lg-block {
    font-size: 14px;
    line-height: 20px;
  }
}

.partners {
  padding: 5.08vh 0 6.09vh  0;

  &__title {
    color: #333333;
    font-size: 1.62vh;
    line-height: 2.03vh;
    font-weight: normal;
    margin-bottom: 1.62vh  /* 16/9.85 */;
    @include lg-block {
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__list {
    display: flex;
    align-items: center;

    @include lg-block {
      flex-wrap: wrap;
      margin-bottom: -30px;
    }
  }

  &__item {
    display: inline-block;
    text-decoration: none;
    margin-right: 30px;
    @include lg-block {
      margin-bottom: 30px;
    }

    &:last-child {
      margin-right: 0;
    }

  }
}

.regulations {

  & a {
    font-size: 1.62vh  /* 16/9.85 */;
    color: #007FC6;
    font-weight: 500;
    &:hover {
      text-decoration: none;
    }
    @include lg-block {
      font-size: 14px;
      line-height: 20px;
    }

  }
  &__title {
    font-size: 1.62vh  /* 16/9.85 */;
    line-height: 2.03vh  /* 20/9.85 */;
    color: #007FC6;
    font-weight: 500;

    @include lg-block {
      font-size: 14px;
      line-height: 20px;
    }

  }

  &__description {
    font-size: 1.62vh  /* 16/9.85 */;
    line-height: 2.03vh  /* 20/9.85 */;
    color: #007FC6;
    font-weight: normal;
    @include lg-block {
      font-size: 12px;
      line-height: 18px;
    }
  }

}