section#draw.page.page-2.js-page
    .container.container_page-2.page__right.js-parallax-page-2
        .bg-container
            .balloons.js-parallax-balloons
        .card
        section.rules
            .rules__inner
                h3.title  Правила розыгрыша
                .stages
                    .stages__inner
                        ol.stages__list
                            li.stages__item Соверши покупку в Новэкс на сумму от
                                br
                                |500 ₽ с 1 по 29 сентября.
                            li.stages__item
                                |Сохрани ЧЕК и зарегистрируй его на сайте.
                            li.stages__item
                                |Дождись результатов!
                        .stages__text
                            |Больше чеков – выше шансы на выигрыш!
                    .stages__results
                        | Подведение итогов:
                        br
                        | 24-30 сентября 2019 года
                a(href='#register').button.button-red Зарегистрировать код с чека
                .partners
                    .partners__title Партнеры
                    .partners__list
                        a(href="#").partners__item
                            img(src='img/page2/unilever.png', alt='')
                        a(href="#").partners__item
                            img(src='img/page2/pg.png', alt='')
                        a(href="#").partners__item
                            img(src='img/page2/henkel.png', alt='')
                        a(href="#").partners__item
                            img(src='img/page2/nivea.png', alt='')
                        a(href="#").partners__item
                            img(src='img/page2/divage.png', alt='')
                        a(href="#").partners__item
                            img(src='img/page2/loréal.png', alt='')
                .regulations
                    .regulations__title
                        |Полные правила розыгрыша
                        |
                        | (
                        a(href="") скачать
                        | )
                    .regulations__description
                        |Настоящие правила регламентируют
                        |порядок организации и проведения
                        |рекламной акции (далее Акция) на
                        |территории всех магазинов «НОВЭКС».
                        |Информация об Организаторе Акции, о
                        |правилах её проведения, количестве
                        |призов, сроках, месте и порядке их получения
                        |размещаются на сайте novex.ru. (далее – Сайт акции)
                        |или сообщаются по телефону горячей линии 8 (800) 200-45-50