.page-6 {
    & .container {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        @include lg-block {
            flex-direction: column;
        }
    }
}


.copyright {
    font-size: 1.62vh  /* 16/9.85 */;
    line-height: 2.44vh  /* 24/9.85 */;
    color: #fff;
    margin-top: 5.48vh  /* 54/9.85 */;
}

.draw-winners {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%), #007FC6;
    background-color: #007FC6;
    width: 33.333vw;
    position: relative;

    @include lg-block {
        width: 100%;
        order: 2;
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: auto;
        background: url("../img/page6/confetti.png") no-repeat top center;
        background-size: cover;
        height: 62.54vh  /* 616/9.85 */;
        cursor: pointer;
    }

    &.active {
        width: #{calc(100% - 33.333vw)} /* 640/19.2 */;
        @include lg-block {
            width: 100%;
        }
    }

    &.quest {
        position: relative;
        background-color: #FFB4CF;

        @include lg-block {
            order: 1;
        }
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: auto;
            background: url("../img/page6/confetti-pink.png") no-repeat top center;
            background-size: cover;
            height: 58.48vh  /* 576/9.85 */;
            z-index: 0;
        }
    }


    &__inner {
        padding: 7.31vh 3.229vw 4.06vh 7.292vw;
        min-height: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include lg-block {
            padding: 7.31vh 3.229vw 4.06vh 3.229vw;
        }

        .quest & {
            padding: 7.31vh 7.292vw 4.06vh 3.229vw;
        }
    }
}


.raffle {

    @mixin not-active() {
        @include from($break_lg) {
            .draw-winners:not(.active) & {
                @content
            }
        }
    }

    @mixin quest() {
        .draw-winners.quest & {
            @content
        }
    }

    position: relative;
    z-index: 1;

    &__title {
        color: #fff;
        cursor: pointer;

        @include not-active() {
            font-size: 3.25vh  /* 32/9.85 */;
            line-height: 4.06vh  /* 40/9.85 */;
            font-weight: 500;
            border-bottom-style: dashed;
        }
        @include quest() {
            color: #CA4D6C;
        }
    }

    &-card {
        width: 13.021vw  /* 250/19.2 */;
        height: 25.38vh  /* 250/9.85 */;
        box-shadow: 6px 10px 12px rgba(0, 0, 0, 0.05);
        background: #009FDA;
        box-sizing: border-box;
        margin-bottom: 2.64vh  /* 26/9.85 */;
        margin-right: 1.146vw  /* 22/19.2 */;

        &:nth-child(4n) {
            margin-right: 0;
        }

        @include lg-block {
            display: block !important;
            max-width: 250px;
            width: 100%;
            height: 250px;
            margin-left: auto;
            margin-right: auto;
        }

        @include not-active() {
            position: relative;
            width: 100%;
            height: auto;
            box-shadow: none;
            padding: 1.62vh 0.833vw;
            margin-bottom: 0.81vh  /* 8/9.85 */;
            display: flex;
            align-items: center;
        }

        @include quest {
            background: #CA4D6C;
        }

        &__list {
            display: flex;
            flex-wrap: wrap;

            @include not-active() {
                margin-top: 4.87vh;
                flex-direction: column;
            }
        }

        &__top {
            background: #5BC6E8;
            height: 12.69vh  /* 125/9.85 */;
            overflow: hidden;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;

            @include lg-block {
                height: 125px;
            }

            @include quest() {
                background: #BB3757;
            }

            @include not-active() {
                overflow: inherit;
                background: transparent;
                max-width: 42px;
                max-height: 46px;
                width: 100%;
                height: auto;
            }
            & img {
                max-width: 100%;
                max-height: 100%;
            }
        }

        &__bottom {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height: 50%;
            padding: 1.73vh 0.417vw;
            text-align: center;
            box-sizing: border-box;

            @include not-active() {
                max-width: 220px;
                align-items: flex-start;
                margin-left: 0.625vw  /* 12/19.2 */;
                padding: 0;
                height: auto;
                text-align: left;
            }
        }

        &__name,
        &__city,
        &__number {
            font-size: 2.03vh  /* 20/9.85 */;
            line-height: 2.44vh  /* 24/9.85 */;
            color: #fff;
            font-weight: 500;
            text-decoration: none;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;


            @include lg-block {
                font-size: 20px;
                line-height: 24px;
            }
        }

        &__name {
            @include not-active() {
                max-width: 9.375vw  /* 180/19.2 */;
            }
        }


        &__city {
            font-size: 1.62vh  /* 16/9.85 */;
            @include not-active() {
                position: absolute;
                top: 1.62vh;
                right: 0.833vw;
                bottom: auto;
                left: auto;
                margin: auto;
                width: auto;
            }

            @include lg-block {
                font-size: 16px;
            }
        }

        &__number {
            font-size: 1.62vh  /* 16/9.85 */;
            @include lg-block {
                font-size: 16px;
            }
        }
    }
}


.slick-dots {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
    margin: auto;
    flex-wrap: wrap;

    & li {
        background-color: #fff;
        opacity: 0.3;
        border-radius: 0;
        width: 17px;
        height: 2px;
        margin: 0 5px 10px;
    }

    & li.slick-active {
        opacity: 1;
    }

    & button {
        display: none;
    }
}