section#winners.page.page-6.js-page.js-winners
    .container.container_winners.page__right.container_page-6
        .bg-container
        section.draw-winners.js-winners-tab.active
            .draw-winners__inner.js-winners-content
                .raffle
                    .raffle__inner
                        h3.title.raffle__title
                            |Победители розыгрыша
                        .raffle-card__list.js-slider-container
                            - var n = 0;
                            while n < 6
                                .raffle-card
                                    .raffle-card__top
                                        img(src='img/page6/raffle.png', alt='')
                                    .raffle-card__bottom
                                        .raffle-card__name Антон Пампушный
                                        .raffle-card__city  г. Кемерово
                                        .raffle-card__number 295*****71
                                - n++
                .copyright
                    | © 2019 Новэкс. Все права защищены
        section.draw-winners.quest.js-winners-tab
            .draw-winners__inner.js-winners-content
                .raffle
                    .raffle__inner
                        h3.title.raffle__title
                            | Победители квеста
                        .raffle-card__list.js-slider-container
                            - var n = 0;
                            while n < 5
                                .raffle-card
                                    .raffle-card__top
                                        img(src='img/page6/present.png', alt='')
                                    .raffle-card__bottom
                                        .raffle-card__name Антон Пампушный
                                        .raffle-card__city  г. Кемерово
                                        .raffle-card__number 295*****71
                                - n++

        //section.quest-winners
        //    .quest-winners__inner
        //        .quest
        //            .quest__inner
        //                h3.title.quest__title
        //                    |Победители квеста
        //                .quest-card__list
        //                    .quest-card__item
        //                        .quest-card__present
        //                            img(src="../img/page6/present.png", alt="")
        //                            .quest-card__info
        //                                .quest-card__name Ольга Иванова
        //                                .quest-card__number 295*****71
        //                            .quest-card__city г. Барнаул
        //                    .quest-card__item
        //                        .quest-card__present
        //                            img(src="../img/page6/present.png", alt="")
        //                            .quest-card__info
        //                                .quest-card__name Антон Пампушный
        //                                .quest-card__number 295*****71
        //                            .quest-card__city г. Новосибирск
        //                    .quest-card__item
        //                        .quest-card__present
        //                            img(src="../img/page6/present.png", alt="")
        //                            .quest-card__info
        //                                .quest-card__name Анастасия Полтавченко
        //                                .quest-card__number 295*****71
        //                            .quest-card__city г. Новосибирск
        //                    .quest-card__item
        //                        .quest-card__present
        //                            img(src="../img/page6/present.png", alt="")
        //                            .quest-card__info
        //                                .quest-card__name Ирина Викторова
        //                                .quest-card__number 295*****71
        //                            .quest-card__city г. Новосибирск
        //                    .quest-card__item
        //                        .quest-card__present
        //                            img(src="../img/page6/present.png", alt="")
        //                            .quest-card__info
        //                                .quest-card__name Сюзанна Данилова
        //                                .quest-card__number 295*****71
        //                            .quest-card__city г. Новосибирск
        //                    .quest-card__item
        //                        .quest-card__present
        //                            img(src="../img/page6/present.png", alt="")
        //                            .quest-card__info
        //                                .quest-card__name Макс Мироненко
        //                                .quest-card__number 295*****71
        //                            .quest-card__city г. Новосибирск
        //                    .quest-card__item
        //                        .quest-card__present
        //                            img(src="../img/page6/present.png", alt="")
        //                            .quest-card__info
        //                                .quest-card__name Ангелина Морозова
        //                                .quest-card__number 295*****71
        //                            .quest-card__city г. Новосибирск
        //                    .quest-card__item
        //                        .quest-card__present
        //                            img(src="../img/page6/present.png", alt="")
        //                            .quest-card__info
        //                                .quest-card__name Татьяна Евдокимова
        //                                .quest-card__number 295*****71
        //                            .quest-card__city г. Новосибирск
        //
        //
        //
        //
        //
        //
        //
