section#main.page.page-4.js-page
    .container.container_page-4.page__right
        .bg-container
         section.draw-winners
            .draw-winners__inner
                section.raffle
                    .raffle__inner
                        h3.raffle__title
                            |Победители розыгрыша
                        .raffle-card
                            .raffle-card__inner
                                .raffle-card__top
                                    img(src='img/page6/raffle.jpg', alt='')   
                                .raffle-card__bottom
                                    .raffle-card__name Антон Пампушный
                                    .raffle-card__city  г. Кемерово 
                                    .raffle-card__number 295*****71    