body {
	font-family: "Geometria", sans-serif;
	font-size: 16px;
}

h1, h2, h3, h4, h5, h6, ul {
	padding: 0;
	margin: 0;
}

.container {
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	box-sizing: border-box;
}